# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Local IDE / OS files
.DS_Store
.idea/

# Local cache used for offline Hardhat compilation
.hardhat-global-cache/
